
.container
{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    padding: 5vw;
    border: 1px solid #ccc;
    margin: 0;

}

.sup{
    position: relative;
    width: 90vw;
    height: 40vw;

}

.gotas{
    width: 20vw;
    height: 25vw;
    position: relative;
    left: 35vw;
    top: 8vw;
    visibility: hidden;
    animation: lluvia 10s linear infinite;
}

@keyframes lluvia {
    40% {
        visibility: hidden ; 
    

    }
    50% {
        visibility: visible ; 
    

    }
    60% {
        visibility: hidden; 
    }
}


.nube{
    grid-row: 1;
    position: absolute;
    width: 25vw;
    animation: moverNube 10s infinite linear;
}

@keyframes moverNube {
    0% {
        right: -25vw;
    }
  
    45% {
        right: calc(50% - 12.5vw); 
    }
    
    55% {
        right: calc(50% - 12.5vw); 
    }
    
    100% {
        right: 100vw;
    }
}

.casa{
    grid-row: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20vw;
}
.flor{
    grid-row: 2;
    position: relative;
    left: 45vw;
    width: 10vw;
    
    visibility: hidden; 
    animation: aparecerFlor 10s linear infinite;
    
}

@keyframes aparecerFlor {
    55% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
}

.arbol{
    grid-row: 1;
    position: absolute;
    bottom: 0;
    width: 15vw;
}
.sol{
    grid-row: 1;
    position: absolute;
    right: 0;
    animation: parpadeoSol 6s infinite alternate;
}
@keyframes parpadeoSol{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



.piso{
    position: relative;
    bottom: 5.5vw;
    grid-row: 2;
    height: 30vw;
    background-color: green;
    
    
}